SLrefTest/SilverlightClassLibrary1/Service References/PvScoutService/pvscoutService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9010/pvscoutService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/pvscout.wcf.business.datacontracts.requests" />
  <xs:import schemaLocation="http://localhost:9010/pvscoutService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/pvscout.wcf.business.datacontracts" />
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnwender">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/pvscout.wcf.business.datacontracts.requests" minOccurs="0" name="request" nillable="true" type="q1:GetAnwenderRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnwenderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/pvscout.wcf.business.datacontracts" minOccurs="0" name="GetAnwenderResult" nillable="true" type="q2:Anwender" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>