PvScoutWeb/PvScoutWeb/Service References/PvScoutService/PvScoutService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Solar.Pvscout.Business.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Solar.Pvscout.Business.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PvModuleActual">
    <xs:sequence>
      <xs:element minOccurs="0" name="Height" type="xs:double" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Left" type="xs:double" />
      <xs:element minOccurs="0" name="Top" type="xs:double" />
      <xs:element minOccurs="0" name="Width" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PvModuleActual" nillable="true" type="tns:PvModuleActual" />
  <xs:complexType name="PvModule">
    <xs:sequence>
      <xs:element minOccurs="0" name="ObjPvModuleActual" nillable="true" type="tns:PvModuleActual" />
      <xs:element minOccurs="0" name="ObjPvModuleVirtual" nillable="true" type="tns:PvModuleVirtual" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PvModule" nillable="true" type="tns:PvModule" />
  <xs:complexType name="PvModuleVirtual">
    <xs:sequence>
      <xs:element minOccurs="0" name="Height" type="xs:double" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Left" type="xs:double" />
      <xs:element minOccurs="0" name="Top" type="xs:double" />
      <xs:element minOccurs="0" name="Width" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PvModuleVirtual" nillable="true" type="tns:PvModuleVirtual" />
</xs:schema>