WCFCustomJsonSerialize/TestClientToTestWSDL/Service References/ProductService/ProductService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFCustomJsonSerialize" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFCustomJsonSerialize" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductType" type="tns:ProductTypeEnum" />
      <xs:element minOccurs="0" name="ProductTypeS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:simpleType name="ProductTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ConsumerGood" />
      <xs:enumeration value="Hotel" />
      <xs:enumeration value="Travel" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ProductTypeEnum" nillable="true" type="tns:ProductTypeEnum" />
  <xs:complexType name="ProductWebResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Products" nillable="true" type="tns:ArrayOfProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductWebResponse" nillable="true" type="tns:ProductWebResponse" />
</xs:schema>