WCFCustomJsonSerialize/TestClientToTestWSDL/Service References/ProductService/ProductService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:12877/ProductService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:12877/ProductService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:12877/ProductService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFCustomJsonSerialize" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ProductRequest">
    <wsdl:part name="parameters" element="tns:ProductRequest" />
  </wsdl:message>
  <wsdl:message name="ProductResponse">
    <wsdl:part name="parameters" element="tns:ProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductServiceXml_SearchProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchProducts" />
  </wsdl:message>
  <wsdl:message name="IProductServiceXml_SearchProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchProductsResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductService">
    <wsdl:operation name="SearchProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/SearchProducts" name="ProductRequest" message="tns:ProductRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/SearchProductsResponse" name="ProductResponse" message="tns:ProductResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IProductServiceXml">
    <wsdl:operation name="SearchProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductServiceXml/SearchProducts" message="tns:IProductServiceXml_SearchProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductServiceXml/SearchProductsResponse" message="tns:IProductServiceXml_SearchProducts_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProductUseEndpoint" type="tns:IProductService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchProducts">
      <soap:operation soapAction="http://tempuri.org/IProductService/SearchProducts" style="document" />
      <wsdl:input name="ProductRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ProductResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductService">
    <wsdl:port name="ProductUseEndpoint" binding="tns:ProductUseEndpoint">
      <soap:address location="http://localhost:12877/ProductService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>