SLrefTest/SLrefTest/Service References/PvScoutService/pvscoutService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/pvscout.wcf.business.datacontracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/pvscout.wcf.business.datacontracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Anwender">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bankverbindung1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bankverbindung2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bankverbindung3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bankverbindung4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Firma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HRB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Internet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Land" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NachName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ort" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PLZ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Postfach" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Strasse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UStID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VorName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Anwender" nillable="true" type="tns:Anwender" />
</xs:schema>