backup/PvScoutWeb/PvScoutWeb/PvScoutWeb/Service References/PvScoutService/PvScoutService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8444/PvScoutService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Solr.Pvscout.Business.Entity" />
  <xs:element name="GetPvModulePosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Solr.Pvscout.Business.Entity" minOccurs="0" name="objPvModuleActual" nillable="true" type="q1:PvModuleActual" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPvModulePositionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Solr.Pvscout.Business.Entity" minOccurs="0" name="GetPvModulePositionResult" nillable="true" type="q2:PvModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>